.startbtn{
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color:  #ADDCC4;
};

#Hello{
    font-size: 50px;
    text-align: center
}

ion-content{
    background-color: #F5FFED !important;
}