page-game {
    .scroll-content{
        padding: 0 !important;
        height: 100%;
        width: 100%;

    }

    .no-display{
        display: none;
    }

    .overlay{
        position: absolute;
        display: block;
        z-index: 9;
        background-color: rgba(0,0,0,0.5);
        width:100%;
        height: 100%;
        color: white;
        text-align: center;
        padding-top: 100px; 
        font-size: 36px;
    }

    .overlay button{
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 15px 15px;
        font-size: 24px;
    }


}
